<div class="container profile-container d-flex  flex-column flex-md-row col-md-10 mt-4">
  <div class="image-container d-flex">

    <label>
      <img *ngIf="student?.profile  else defaultImage"
           [src]="student.profile ? 'data:image/jpeg;base64,' + student.profile :'https://www.w3schools.com/howto/img_avatar.png'"
      >
      <ng-template #defaultImage>
        <img [src]="'https://www.w3schools.com/howto/img_avatar.png'">
      </ng-template>
      <div class="background"></div>
    </label>
    <br/>
  </div>


  <div class="user-info  p-2 ms-md-5 mt-2 d-flex flex-column align-content-center ">
    <div>
      <h2>{{ fullName.value }}</h2>
      <h4>{{ studentCode.value }}</h4>
    </div>
    <div>
      <button mat-flat-button color="primary" (click)="openDialog()">
        <mat-icon>lock</mat-icon>
        change password
      </button>
    </div>

  </div>
</div>

<div class="mt-5 ms-auto update-info col-md-10 mx-auto ">
  <form [formGroup]="updateGroup">

    <div class="row">

      <mat-form-field class="col-12">
        <mat-label>Full name</mat-label>
        <input matInput type="text" #fullName formControlName="fullName">
        <button mat-icon-button matPrefix>
          <mat-icon>account_circle</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col-12 col-md-6">
        <mat-label> student code</mat-label>
        <input matInput type="text" #studentCode formControlName="studentCode">
        <button mat-icon-button matPrefix>
          <mat-icon>code</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="col-12 col-md-6">
        <mat-label> program</mat-label>
        <input matInput type="text" formControlName="program">
        <button mat-icon-button matPrefix>
          <mat-icon>school</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col-12 col-md-6">
        <mat-label> email</mat-label>
        <input matInput type="text" formControlName="email">
        <button mat-icon-button matPrefix>
          <mat-icon>mail</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="col-12 col-md-6">
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username">
        <button mat-icon-button matPrefix>
          <mat-icon>account_circle</mat-icon>
        </button>
      </mat-form-field>


    </div>
    <div class=" d-flex flex-row justify-content-end">

      <button mat-button color="primary" class="fs-5" type="submit" (click)="updateInfo()">
        <mat-icon>save</mat-icon>
        SAVE
      </button>
    </div>
  </form>

</div>

<app-student-payments></app-student-payments>








