<h2 mat-dialog-title>Update Password</h2>
<mat-dialog-content>
  <form [formGroup]="passwordUpdateGroup">
    <mat-form-field appearance="fill">
      <mat-label>New Password</mat-label>
      <input matInput [type]="hideNew ? 'password' : 'text'" formControlName="newPassword">
      <button mat-icon-button matSuffix (click)="togglePasswordVisibility('hideNew')">
        <mat-icon color="primary">{{ hideNew ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="passwordUpdateGroup.get('newPassword')?.hasError('required')">
        New Password is required
      </mat-error>
      <mat-error *ngIf="passwordUpdateGroup.get('newPassword')?.hasError('minlength')">
        New Password must be at least 6 characters long
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Confirm Password</mat-label>
      <input matInput [type]="hideConfirm ? 'password' : 'text'" formControlName="confirmPassword"
             (blur)="onConfirmPasswordBlur()">
      <button mat-icon-button matSuffix (click)="togglePasswordVisibility('hideConfirm')">
        <mat-icon color="primary">{{ hideConfirm ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-hint
        *ngIf="passwordUpdateGroup.hasError('passwordMismatch') && passwordUpdateGroup.get('confirmPassword')?.touched">
        Passwords do not match
      </mat-hint>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button type="submit" [disabled]="passwordUpdateGroup.invalid" (click)="updatePassword()">Update</button>
</mat-dialog-actions>
