<div class="login-container">
  <mat-card color="accent">
    <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
      <p *ngFor="let msg of errorMsg">{{ msg }}</p>
    </div>
    <mat-card-header>
      <mat-card-title>
        <mat-icon matButtonIcon>lock</mat-icon>
        login
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="formLogin">
        <mat-form-field>
          <mat-label>Enter your username</mat-label>
          <input matInput type="text" formControlName="username">
          <button mat-icon-button matSuffix>
            <mat-icon>person</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
          <button mat-icon-button matSuffix (click)="togglePasswordVisibility($event)"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" type="submit" (click)="login()">Login</button>
      </form>
    </mat-card-content>
    <mat-card-footer>
      <div class="mt-2">
        Don't have an account?&nbsp;
        <a type="button" (click)="handleRegister()" class="link-primary">
          Register
        </a>

      </div>
    </mat-card-footer>
  </mat-card>
</div>
