<h2 mat-dialog-title>New Payment</h2>
<mat-dialog-content class="bg-dark">
  <form [formGroup]="paymentGroup" enctype="multipart/form-data">
    <mat-form-field>
      <mat-label>Amount</mat-label>
      <input matInput type="text" formControlName="amount">

      <mat-icon matPrefix>attach_money</mat-icon>

    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Date</mat-label>
      <input matInput type="date" formControlName="date">

      <mat-icon matPrefix>calendar_today</mat-icon>

    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select formControlName="paymentType">
        <mat-option value="CHECK">CHECK</mat-option>
        <mat-option value="DEPOSIT">DEPOSIT</mat-option>
        <mat-option value="TRANSFER">TRANSFER</mat-option>
        <mat-option value="CASH">CASH</mat-option>
      </mat-select>
      <mat-icon matPrefix>currency_exchange</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>File</mat-label>
      <button mat-icon-button matPrefix (click)="f_input.click()">
        <mat-icon>attach_file</mat-icon>
      </button>
      <input readonly matInput [formControl]="display"/>
      <input
        type="file"
        hidden
        #f_input
        (change)="handleFileInputChange($event)"
      />
      <mat-error>this field is required</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button (click)="addPayment()" color="primary">Save</button>
</mat-dialog-actions>
