<div class="dashboard my-5">
  <div class="d-flex mx-md-2 mt-md-0 flex-column flex-md-row  justify-content-center">
    <div class=" stat-cards col-md-7 justify-content-start p-0 mb-md-0 mb-3 d-flex flex-wrap">
      <div class="container d-flex flex-row ps-0 mb-2">
        <div class="col-7 me-2 text-center  stat-card">
          <h1>
            {{ paymentsComponent.totalPayments }}
            <mat-icon class="text-primary ms-1 fw-bolder">call_received</mat-icon>
          </h1>
          <h3>
            Total
          </h3>
        </div>
        <div class="col-5 mx-0 text-center  stat-card">
          <h1>
            {{ paymentsComponent.validatedPayments }}
            <mat-icon class="text-success ms-1 fw-bolder">done</mat-icon>
          </h1>
          <h3>
            Valid
          </h3>
        </div>
      </div>
      <div class="container d-flex flex-row ps-0">
        <div class="col-5 me-2 text-center  stat-card">
          <h1>
            {{ paymentsComponent.rejectedPayments }}
            <mat-icon class="text-danger ms-1 fw-bolder">close</mat-icon>
          </h1>
          <h3>
            Reject
          </h3>
        </div>
        <div class="col-7 mx-0 text-center  stat-card">
          <div class="d-flex">
            <h1>
              {{ paymentsComponent.pendingPayments }}

            </h1>
            <mat-icon class="text-warning ms-1 fs-4 mt-1 fw-bolder">hourglass_empty</mat-icon>
          </div>
          <h3>
            Pending
          </h3>
        </div>
      </div>
    </div>
    <div class="chart doughnut ms-md-3 col-md-5 d-flex flex-row justify-content-center">
      <canvas baseChart
              [datasets]="paymentsComponent.doughnutChartDatasets"
              [labels]="paymentsComponent.doughnutChartLabels"
              [type]="'doughnut'"
              [options]="paymentsComponent.doughnutChartOptions">
      </canvas>
    </div>
  </div>
</div>
<app-payments #paymentsComponent></app-payments>

