
.chart {
  background: rgba(35, 38, 44, 0.72) !important;
  border-radius: 10px;
  padding: 20px;
  height: 40vh;
  /*box-shadow: rgba(13, 13, 14, 0.83) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;*/
  box-shadow: var(--bs-box-shadow-lg);

}

.stat-cards {
  height: 40vh;
}

.stat-card {
  /*height: 20vh;*/
  display: flex;
  flex-direction: column;
  align-items: center !important;
  background: rgba(35, 38, 44, 0.72) !important;
  border-radius: 10px;
  box-shadow: var(--bs-box-shadow-lg);


}

mat-card-content {
  display: flex;
  justify-content: center;
}

canvas {
  height: 100% !important;
  width: 100% !important;
  padding: 10px;
}


