<mat-sidenav-container autosize>

  <mat-sidenav class="d-flex flex-column" #sidenav
               [opened]="document.getElementsByTagName('html')[0].clientWidth > 426 ? 'true':'false'"
               [mode]="document.getElementsByTagName('html')[0].clientWidth > 426 ? 'side':'over'"
  >
    <div class="d-flex">

      <button mat-icon-button>
        <img src="favicon.ico">
      </button>
      <h3 class="mb-0 align-self-center">ENSET</h3>

    </div>
    <mat-nav-list class="d-flex flex-column">
      <a mat-list-item [routerLink]="['/student']">
        <span class="entry">
          <mat-icon>dashboard</mat-icon>
          <span>Dashboard</span>
        </span>
      </a>
      <a mat-list-item [routerLink]="['profile']">
        <span class="entry">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </span>
      </a>
      <a mat-list-item [routerLink]="['payments']">
        <span class="entry">
          <mat-icon>receipt_long</mat-icon>
          <span>Payments</span>
        </span>
      </a>
      <a mat-list-item (click)="openDialogue()">
        <span class="entry">
          <mat-icon>note_add</mat-icon>
          <span>New Payment </span>
        </span>
      </a>


      <span class="spacer flex-grow-1"></span>
      <mat-divider></mat-divider>
      <div class="d-flex align-items-center">
        <button mat-icon-button routerLink="profile">
          <img
            [src]="student.profile ?'data:image/jpeg;base64,' + student.profile:'https://www.w3schools.com/howto/img_avatar.png'"
            class="rounded-circle">
        </button>
        <button mat-button class="mb-0">{{ student.fullName }}</button>
      </div>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>

    <div class="d-flex">
      <button mat-icon-button (click)="sidenav.toggle()" aria-label="Menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="align-content-center d-none d-md-block">
        <h2 class="mb-0"> Welcome {{ student.fullName }}</h2>
      </div>
      <span class="spacer flex-grow-1"></span>
      <button mat-icon-button [matMenuTriggerFor]="notificationMenu">
        <mat-icon color="accent" [matBadge]="notificationList.length" aria-hidden="false">notifications</mat-icon>

      </button>
      <mat-menu #notificationMenu="matMenu">
        <ng-container *ngIf="notificationList.length > 0; else noNotifications">
          <ng-container *ngFor="let notification of notificationList">
            <div mat-menu-item>
              <div class="d-flex flex-row align-items-center">
                <button mat-icon-button color="primary" (click)="markAsReadAndDelete(notification.notificationId)"
                        matTooltip="mark as read and delete">
                  <mat-icon matPrefix>mark_chat_read</mat-icon>
                </button>

                {{ notification.message }}

              </div>
            </div>
          </ng-container>
        </ng-container>
        <ng-template #noNotifications>
          <button mat-menu-item>No notifications</button>
        </ng-template>
      </mat-menu>
      <button mat-icon-button (click)="logout()">
        <mat-icon color="primary">logout</mat-icon>
      </button>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
