<div class="mat-primary mx-md-3 my-5">
  <div class="d-flex mb-3 pb-0 flex-column">
    <button mat-raised-button color="primary" (click)="openDialogue()" class="ms-md-auto">
      <mat-icon matPrefix>add</mat-icon>
      New Payment
    </button>
    <span class="spacer flex-grow-1"></span>
    <app-search-box class="d-md-none mt-3"></app-search-box>


  </div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Payments
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div class="table-container">
        <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <mat-progress-bar *ngIf="loading" mode="determinate"></mat-progress-bar>
          <ng-container matColumnDef="paymentId">
            <th mat-sort-header mat-header-cell *matHeaderCellDef> ID</th>
            <td mat-cell *matCellDef="let element"> {{ element.paymentId }}</td>
          </ng-container>

          <ng-container matColumnDef="paymentDate">
            <th mat-sort-header mat-header-cell *matHeaderCellDef> Date</th>
            <td mat-cell *matCellDef="let element"> {{ element.paymentDate }}</td>
          </ng-container>
          <ng-container matColumnDef="amount">
            <th mat-sort-header mat-header-cell *matHeaderCellDef> Amount</th>
            <td mat-cell *matCellDef="let element"> {{ element.amount }}</td>
          </ng-container>

          <ng-container matColumnDef="paymentType">
            <th mat-sort-header mat-header-cell *matHeaderCellDef> Type</th>
            <td mat-cell *matCellDef="let element"> {{ element.paymentType }}</td>
          </ng-container>

          <ng-container matColumnDef="paymentStatus">
            <th mat-sort-header mat-header-cell *matHeaderCellDef> Status</th>
            <td mat-cell *matCellDef="let element"> {{ element.paymentStatus }}</td>
          </ng-container>
          <ng-container matColumnDef="paymentFile">
            <th mat-sort-header mat-header-cell *matHeaderCellDef> File</th>
            <td mat-cell *matCellDef="let element" class="ps-md-0">
              <button mat-icon-button color="primary" data-bs-toggle="modal" data-bs-target="#fileModal"
                      (click)="openFile(element.paymentId)">
                <mat-icon>receipt_long</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="validation">

            <th mat-header-cell *matHeaderCellDef id="thId" class="text-center"
            >

              Validation
            </th>
            <td mat-cell *matCellDef="let element" class="text-center">

              <button mat-icon-button class="text-danger" (click)="updateStatus(element.paymentId,'REJECTED')">
                <mat-icon>close</mat-icon>
              </button>
              <button mat-icon-button class="text-success" (click)="updateStatus(element.paymentId,'VALIDATED')">
                <mat-icon>done</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">

            <th mat-header-cell *matHeaderCellDef class="text-center"
            >
              Actions
            </th>
            <td mat-cell *matCellDef="let element" class="text-center">
              <button mat-icon-button class="text-danger" (click)="onDeletePayment(element.paymentId)">
                <mat-icon class="text-danger">delete</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row columns: displayedColumns;"></tr>
        </table>
      </div>

      <mat-paginator [pageSizeOptions]="[6]"></mat-paginator>
    </mat-card-content>
  </mat-card>


</div>

